/* Header */
header {
  display: flex;
  align-items: center;
  position: fixed;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid black;
  width: 100%;
  z-index: 1;
  height: 80px;
}
.logo {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding-left: 30px;
  flex-grow: 1;
}
.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}
.logo span {
  color: mediumaquamarine;
}
header nav {
  padding-right: 30px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: black;
}
/* Content */
.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}
.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  border: 1px solid black;
}
.column.large {
  width: 630px;
  border: 1px solid black;
}
.column.medium {
  width: 300px;
  border: 1px solid black;
}
.column.small {
  width: 240px;
  border: 1px solid black;
}
.cookie-story {
  border: 1px solid black;
}
.image-content {
  border: 1px solid black;
}
.second-story {
  border: 1px solid black;
}
.third-story {
  border: 1px solid black;
}
.fourth-story {
  border: 1px solid black;
}
.fifth-story {
  border: 1px solid black;
}
.middle-story {
  border: 1px solid black;
}
.sixth-story {
  border: 1px solid black;
}
.seventh-story {
  border: 1px solid black;
}
